{% extends "account/account.html" %}
{% block head %}
{{ super() }}
<style>
    table tr td{
        padding-right: 10px;
        padding-top: 5px;
    }
    input, select{
        width:300px;
        height: 30px;
    }
    textarea {
        width:300px;
        height:100px;
    }
</style>
{% endblock %}
{% block account_page %}
<h3 class="text-center mb-2" style="color:black">Pozycja w księgarnii</h3>
<hr>
<form method="POST" class="contact-form p-4" novalidate autocomplete="off">
    {{ form.csrf_token }}
    <table>
        <tbody>
        <tr>
            <td>{{ form.title.label(class_="control-label") }}</td>
            <td>{{form.title(class_ = "", placeholder="Tytuł")}}</td>
            <td>{% for error in form.title.errors: %}
                <p style="color:red">{{error}}</p></td>
            {% endfor %}
        </tr>
        <tr>
            <td>{{ form.author.label(class_="control-label") }}</td>
            <td>{{form.author(class_ = "", placeholder="Autor książki")}}</td>
            <td>{% for error in form.author.errors: %}
                <p style="color:red">{{error}}</p></td>
            {% endfor %}
        </tr>
        <tr>
            <td>{{ form.publisher.label(class_="control-label") }}</td>
            <td>{{form.publisher(class_ = "", placeholder="Wydawca książki")}}</td>
            <td>{% for error in form.publisher.errors: %}
                <p style="color:red">{{error}}</p></td>
            {% endfor %}
        </tr>
        <tr>
            <td>{{ form.genre.label(class_="control-label") }}</td>
            <td>{{form.genre(class_ = "", placeholder="Gatunek")}}</td>
            <td>{% for error in form.genre.errors: %}
                <p style="color:red">{{error}}</p></td>
            {% endfor %}
        </tr>
        <tr>
            <td>{{ form.publish_date.label(class_="control-label") }}</td>
            <td>{{form.publish_date(class_ = "", placeholder="Data publikacji")}}</td>
            <td>{% for error in form.publish_date.errors: %}
                <p style="color:red">{{error}}</p></td>
            {% endfor %}
        </tr>
        <tr>
            <td>{{ form.image_url.label(class_="control-label") }}</td>
            <td>{{form.image_url(class_ = "", placeholder="Adres url obrazu")}}</td>
            <td>{% for error in form.image_url.errors: %}
                <p style="color:red">{{error}}</p></td>
            {% endfor %}
        </tr>
        <tr>
            <td>{{ form.number_in_stock.label(class_="control-label") }}</td>
            <td>{{form.number_in_stock(class_ = "", placeholder="Liczba w magazynie")}}</td>
            <td>{% for error in form.number_in_stock.errors: %}
                <p style="color:red">{{error}}</p></td>
            {% endfor %}
        </tr>
        <tr>
            <td>{{ form.description.label(class_="control-label") }}</td>
            <td>{{form.description(class_ = "", placeholder="Opis książki")}}</td>
            <td>{% for error in form.description.errors: %}
                <p style="color:red">{{error}}</p></td>
            {% endfor %}
        </tr>
        </tbody>
    </table>

    <div class="form-group text-center mt-3">
        {{form.submit_button(class_ = "btn btn-primary", value="Zatwierdź", style="border-radius:25px;")}}
    </div>
</form>
{% endblock %}