{% extends "base.html" %}
{% block content %}

<section class="home-slider owl-carousel">

    <div class="slider-item" style="background-image: url({{ url_for('static', filename='images/library.jpg') }});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center">

                <div class="col-md-7 col-sm-12 text-center ftco-animate">
                    <span class="subheading">Odkryj</span>
                    <h1 class="mb-4">Wymarzone książki</h1>
                </div>

            </div>
        </div>
    </div>
</section>

<div class="d-flex justify-content-center">
    <p style="background-color:#c49b63; width:75%; height:40px; position: absolute; top: 730px;">
    </p>
</div>


<section class="ftco-menu mb-5 pb-5">
    <div class="container">
        {% if current_user.is_authenticated and current_user.privileges == "Admin" %}
        <a href="{{url_for('new_book_for_sale')}}" class="btn btn-success mb-4" role="button" aria-disabled="true">Dodaj
            książkę</a>
        {% endif %}
        <div class="row d-md-flex">
            <div class="col-lg-12 ftco-animate p-md-5">
<!--                <div class="row">-->
<!--                    <div class="col-md-12 nav-link-wrap mb-5">-->
<!--                        <div class="nav ftco-animate nav-pills justify-content-center" id="v-pills-tab" role="tablist"-->
<!--                             aria-orientation="vertical">-->
<!--                            <a class="nav-link active" href="#">Wszystkie</a>-->

<!--                            <a class="nav-link" href="#">Bestsellery</a>-->

<!--                            <a class="nav-link" href="#">Nowości</a>-->

<!--                            <a class="nav-link" href="#">Wyprzedaż</a>-->

<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

                <div class="row d-flex">
                    {% for book in books %}
                    <div class="col-md-3 text-center">
                        <div class="menu-wrap">
                            <a href="{{url_for('show_book_for_sell', book_id=book.id)}}" class="menu-img img mb-4"
                               style="background-image: url({{book.stock.book_info.image_url}}); height:350px; width:220px; margin: auto"></a>
                            <div class="text">
                                <h3><a href="{{url_for('show_book_for_sell', book_id=book.id)}}">{{book.stock.book_info.title}}</a>
                                </h3>
                                <p>{{book.stock.book_info.author}}</p>
                                <p class="price">
                                    {% if book.stock.book_for_sale.new_price > 0%}
                                    <span style="color:red;">
                                    {{book.stock.book_for_sale.new_price}}
                                    </span>
                                    <span style="text-decoration: line-through; color:grey">{{book.stock.book_for_sale.price}} zł</span>
                                    {% else %}
                                    <span>{{book.stock.book_for_sale.price}} zł</span>
                                    {% endif %}
                                </p>
                                <p><a href="{{url_for('add_to_cart', stock_id=book.stock.id)}}" class="btn btn-primary btn-outline-primary">Dodaj do
                                    koszyka</a></p>
                                {% if current_user.is_authenticated and current_user.privileges == "Admin" %}
                                <a href="{{url_for('edit_book_for_sell', book_id=book.id)}}" class="btn btn-warning"
                                   role="button"><i class="fas fa-pen"></i></a>
                                <a href="{{url_for('delete_book_for_sell', book_id=book.id)}}" class="btn btn-danger"
                                   role="button"><i class="fas fa-trash-alt"></i></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>

</section>

{% endblock %}