{% extends "base.html" %}
{% block content %}
    <section class="home-slider owl-carousel">
      <div class="slider-item" style="background-image: url({{ url_for('static', filename='images/menu.jpg') }});">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

            <div class="col-md-7 col-sm-12 text-center ftco-animate">
            	<span class="subheading">Oto nasze</span>
              <h1 class="mb-4">Przepyszne menu</h1>
            </div>

          </div>
        </div>
      </div>
	</section>


    <section class="ftco-section">
    	<div class="container">
        <div class="row">
			{% if hot_drinks %}
        	<div class="col-md-6 mb-5 pb-3">
        		<h3 class="mb-5 heading-pricing ftco-animate">Ciepłe napoje</h3>
				{% for hot_drink in hot_drinks %}
        		<div class="pricing-entry d-flex ftco-animate">
        			<div class="img" style="background-image: url({{hot_drink.image_url}});"></div>
        			<div class="desc pl-3">
	        			<div class="d-flex text align-items-center">
	        				<h3><span>{{hot_drink.name}}</span></h3>
	        				<span class="price">{{hot_drink.price}} zł</span>
	        			</div>
	        			<div class="d-block">
	        				<p>{{hot_drink.description}}</p>
	        			</div>
        			</div>
        		</div>
				{% endfor %}
        	</div>
			{% endif %}
			{% if cold_drinks %}
        	<div class="col-md-6 mb-5 pb-3">
        		<h3 class="mb-5 heading-pricing ftco-animate">Napoje zimne</h3>
        		<div class="pricing-entry d-flex ftco-animate">
        			<div class="img" style="background-image: url(images/dish-5.jpg);"></div>
        			<div class="desc pl-3">
	        			<div class="d-flex text align-items-center">
	        				<h3><span>Sok świeży - pomarańczowy</span></h3>
	        				<span class="price">12 zł</span>
	        			</div>
	        			<div class="d-block">
	        				<p>A small river named Duden flows by their place and supplies</p>
	        			</div>
	        		</div>
        		</div>
        	</div>
			{% endif %}
			{% if desserts %}
        	<div class="col-md-6">
        		<h3 class="mb-5 heading-pricing ftco-animate">Desery</h3>
        		<div class="pricing-entry d-flex ftco-animate">
        			<div class="img" style="background-image: url(images/dessert-1.jpg);"></div>
        			<div class="desc pl-3">
	        			<div class="d-flex text align-items-center">
	        				<h3><span>Cornish - Mackerel</span></h3>
	        				<span class="price">$20.00</span>
	        			</div>
	        			<div class="d-block">
	        				<p>A small river named Duden flows by their place and supplies</p>
	        			</div>
        			</div>
        		</div>
        	</div>
			{% endif %}
			{% if desserts %}
        	<div class="col-md-6">
        		<h3 class="mb-5 heading-pricing ftco-animate">Drinks</h3>
        		<div class="pricing-entry d-flex ftco-animate">
        			<div class="img" style="background-image: url(images/drink-5.jpg);"></div>
        			<div class="desc pl-3">
	        			<div class="d-flex text align-items-center">
	        				<h3><span>Sea Trout</span></h3>
	        				<span class="price">$49.91</span>
	        			</div>
	        			<div class="d-block">
	        				<p>A small river named Duden flows by their place and supplies</p>
	        			</div>
	        		</div>
        		</div>
        	</div>
			{% endif %}
        </div>
    	</div>
    </section>


{% endblock %}