{% extends "base.html" %}
{% block head %}
{{ super() }}
<style>
    .delete_table i:hover{
    color:firebrick;
    }
    hr {
border: 0.5px solid #c49b63;
    }


</style>
{% endblock %}
{% block content %}
<section class="home-slider owl-carousel">

    <div class="slider-item" style="background-image: url({{ url_for('static', filename='images/tables.jpg') }});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center">
                <div class="col-md-7 col-sm-12 text-center ftco-animate">
                    <span class="subheading">Zarezerwuj</span>
                    <h1 class="mb-4">Stolik dla Ciebie</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="d-flex justify-content-center">
    <p style="background-color:#c49b63; width:75%; height:40px; position: absolute; top: 730px;">
    </p>
</div>
<section class="ftco-menu mb-5 pb-5">
    <div class="container p-4" style="background-color:#120f0f; border-radius: 25px; border: 2px solid #c49b63;">
        <div class="text-center">
            <h1>Nasze stoliki</h1>
            <hr>
        </div>
        <div class="row text-center">
            <div class="col-12 book">
                <form autocomplete="off" class="px-2" method="POST">
                    {{ find_table_form.csrf_token }}
                    <div class="row">
                        <div class="col-xl-2 col-lg-3">
                            <div class="form-group">
                                {{ find_table_form.date.label(class_="control-label") }}
                                {{find_table_form.date(class_ = "form-control")}}
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3">
                            <div class="form-group">
                                {{ find_table_form.number_of_seats.label(class_="control-label") }}
                                {{find_table_form.number_of_seats(class_ = "form-control", placeholder="Ilość miejsc")}}
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3">
                            <div class="form-group">
                                {{ find_table_form.time.label(class_="control-label") }}
                                {{find_table_form.time(class_ = "form-control", placeholder="Godzina przybycia")}}
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3">
                            <div class="form-group" style="padding-top:40px">
                                {{find_table_form.find_table_button(class_ = "btn btn-primary py-3 px-4", value="Znajdź
                                stolik")}}
                            </div>
                        </div>
                    </div>
                </form>
                <hr>
            </div>
        </div>
        <div class="row">
            {% for table, hours in tables %}
            <div class="col-xl-3 col-md-4 mb-4">
                <div class="p-2 text-center"
                     style="border:2px solid #c49b63;; border-radius: 25px; background-color: Gainsboro;">
                    {% if current_user.is_authenticated and current_user.privileges == "Admin" %}
                    <a class="delete_table" href="{{url_for('delete_table', table_id=table.id)}}"><i
                            class="fas fa-trash-alt fa-2x" style="position:absolute; right:35px; top:20px;"></i></a>
                    {% endif %}
                    <i style="color:black">{{table.number_of_seats}}</i> <span style="color:black">miejsc(a)</span><br>
                    <span style="color:black;">Stolik nr:  <span
                            style="color:black; font-size:3em;font-family: Helvetica, sans-serif;">{{table.id}}</span><br>

                    <span style="color:black;">Godziny</span>
                    <div class="row justify-content-center mt-2">
                        {% for hour,table_taken in hours %}
                        <div class=" mb-2 mx-1">
                            <a class="btn btn-primary{% if table_taken %} disabled {% endif %}" href="{{url_for('book_table',r_hour=hour, table_id=table.id, r_date=date)}}"
                               style="border-radius: 25%;">
                                {{hour}}
                            </a>

                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% if current_user.is_authenticated and current_user.privileges == "Admin" %}
        <div class="container">
            <div class="row justify-content-left">
                <form autocomplete="off" class="p-4 col" method="POST">
                    {{ new_table_form.csrf_token }}
                    <div class="row">
                        <div class="" style="padding: 15px;">
                            {{new_table_form.number_of_seats.label(class_="control-label")}}
                        </div>
                        <div class="">{{new_table_form.number_of_seats(class_ = "form-control input-sm",
                            placeholder="Liczba miejsc")}}
                        </div>
                        <div>{{new_table_form.new_table_button(class_ = "btn btn-success p-3 mx-3", value="Dodaj nowy
                            stolik")}}
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}