{% extends "base.html" %}
{% block head %}
{{ super() }}
<style>
    .delete_table i:hover{
    color:firebrick;
    }
    hr {
    border: 0.5px solid #c49b63;
    }


</style>
{% endblock %}
{% block content %}
<section class="home-slider owl-carousel">

    <div class="slider-item" style="background-image: url({{ url_for('static', filename='images/tables.jpg') }});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center">
                <div class="col-md-7 col-sm-12 text-center ftco-animate">
                    <span class="subheading">Zarezerwuj</span>
                    <h1 class="mb-4">Stolik dla Ciebie</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="d-flex justify-content-center">
    <p style="background-color:#c49b63; width:75%; height:40px; position: absolute; top: 730px;">
    </p>
</div>
<section class="ftco-menu mb-5 pb-5">
    <div class="container p-4" style="background-color:#120f0f; border-radius: 25px; border: 2px solid #c49b63;">
        <div class="text-center">
            <h1>Nasze stoliki</h1>
            <hr>
        </div>
        <div class="row text-center">
            <div class="col-12 book">
                <form autocomplete="off" class="px-2" method="POST">
                    {{ find_table_form.csrf_token }}
                    <div class="row">
                        <div class="col-xl-2 col-lg-3">
                            <div class="form-group">
                                {{ find_table_form.date.label(class_="control-label") }}
                                {{find_table_form.date(class_ = "form-control")}}
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3">
                            <div class="form-group">
                                {{ find_table_form.number_of_seats.label(class_="control-label") }}
                                {{find_table_form.number_of_seats(class_ = "form-control", placeholder="Ilość miejsc")}}
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3">
                            <div class="form-group">
                                {{ find_table_form.time.label(class_="control-label") }}
                                {{find_table_form.time(class_ = "form-control", placeholder="Godzina przybycia")}}
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3">
                            <div class="form-group" style="padding-top:40px">
                                {{find_table_form.find_table_button(class_ = "btn btn-primary py-3 px-4", value="Znajdź
                                stolik")}}
                            </div>
                        </div>
                    </div>
                </form>
                <hr>
                {% with messages = get_flashed_messages(category_filter=["error"]) %}
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-danger text-center" role="alert" style="margin:0 auto;">
                    {{ message}}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}

                {% with messages = get_flashed_messages(category_filter=["info"]) %}
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-info text-center" role="alert" style="margin: 0 auto;">
                    {{ message}}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}

                {% with messages = get_flashed_messages(category_filter=["success"]) %}
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success text-center" role="alert" style="margin: 0 auto 20px;">
                    {{ message}}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="row">
            {% for table, hours in tables %}
            <div class="col-xl-3 col-md-4 mb-4">
                <div class="p-2 text-center"
                     style="border:2px solid #c49b63;; border-radius: 25px; background-color: Gainsboro;">
                    {% if current_user.is_authenticated and current_user.privileges == "Admin" %}
                    <a class="delete_table" href="{{url_for('delete_table', table_id=table.id)}}"><i
                            class="fas fa-trash-alt fa-2x" style="position:absolute; right:35px; top:20px;"></i></a>
                    {% endif %}
                    <i style="color:black">{{table.number_of_seats}}</i> <span style="color:black">miejsc(a)</span><br>
                    <span style="color:black;">Stolik nr: </span> <span
                        style="color:black; font-size:3em;font-family: Helvetica, sans-serif;">{{table.id}}</span><br>

                    <span style="color:black;">Dostępne godziny</span>
                    <div class="row justify-content-center mt-2">
                        {% for hour,table_taken in hours %}
                        <div class=" mb-2 mx-1">
                            <a class="btn btn-primary {% if table_taken %} disabled {% endif %}"
                               data-target="#confirm_reservation{{table.id}}-{{hour}}"
                               data-toggle="modal" style="border-radius: 25%; color:black;"
                               type="button">
                                {{hour}}
                            </a>
                            <!-- The Modal -->
                            <div class="modal fade" id="confirm_reservation{{table.id}}-{{hour}}">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <p class="modal-title"
                                               style="color:black; font-family: Helvetica, sans-serif; font-size: 2em">
                                                Potwierdzenie rezerwacji</p>
                                            <button class="close" data-dismiss="modal" type="button">&times;</button>
                                        </div>
                                        <form autocomplete="off" method="POST" action="{{url_for('book_table',r_year=r_date.year, r_month=r_date.month, r_day=r_date.day, r_hour=hour, table_id=table.id)}}">
                                        <!-- Modal body -->
                                        <div class="modal-body"
                                             style="font-family: Helvetica, sans-serif; font-size: 1.25em;">

                                                <table>
                                                    <tr>
                                                        <td colspan="2">Rezerwujesz stolik nr: <span
                                                                style="color:black">{{table.id}}</span>
                                                            dla <span
                                                                    style="color:black">{{table.number_of_seats}}</span>
                                                            osób, na godzinę <span
                                                                    style="color:black">{{hour}}:00</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><label for="first_name{{table.id}}-{{hour}}">Imię:</label>
                                                        </td>
                                                        <td><input id="first_name{{table.id}}-{{hour}}"
                                                                   name="first_name"
                                                                   type="text"
                                                                   value="{% if current_user.is_authenticated %} {{current_user.first_name}} {% endif %}"
                                                                   placeholder="Twoje imię" required>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><label
                                                                for="last_name{{table.id}}-{{hour}}">Nazwisko:</label>
                                                        </td>
                                                        <td><input id="last_name{{table.id}}-{{hour}}" name="last_name"
                                                                   type="text"
                                                                   value="{% if current_user.is_authenticated %} {{current_user.last_name}} {% endif %}" placeholder="Twoje nazwisko" required>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><label for="phone{{table.id}}-{{hour}}">Telefon:</label></td>
                                                        <td><input type="tel" id="phone{{table.id}}-{{hour}}" name="phone" pattern="[0-9]{9}" placeholder="Numer telefonu" required></td>
                                                    </tr>
                                                    <tr>
                                                        <td><label for="message{{table.id}}-{{hour}}">Wiadomość:</label></td>
                                                        <td><textarea id="message{{table.id}}-{{hour}}" name="message" rows="4" cols="19" placeholder="Dodatkowe informacje"></textarea></td>
                                                    </tr>
                                                </table>
                                        </div>

                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <button class="btn btn-warning" data-dismiss="modal" type="button">Anuluj
                                            </button>
                                            <input type="submit" value="Rezerwuj" class="btn btn-success">
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% if current_user.is_authenticated and current_user.privileges == "Admin" %}
        <div class="container">
            <div class="row justify-content-left">
                <form autocomplete="off" class="p-4 col" method="POST">
                    {{ new_table_form.csrf_token }}
                    <div class="row">
                        <div class="" style="padding: 15px;">
                            {{new_table_form.number_of_seats.label(class_="control-label")}}
                        </div>
                        <div class="">{{new_table_form.number_of_seats(class_ = "form-control input-sm",
                            placeholder="Liczba miejsc")}}
                        </div>
                        <div>{{new_table_form.new_table_button(class_ = "btn btn-success p-3 mx-3", value="Dodaj nowy
                            stolik")}}
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}