{% extends "base.html" %}
{% block content %}
<section class="home-slider owl-carousel">
    <div class="slider-item"
         style="background-image: url({{ url_for('static', filename='images/cart_background.jpg') }});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                <div class="col-md-7 col-sm-12 text-center ftco-animate">
                    <span class="subheading">Produkty</span>
                    <h1 class="mb-4">w Twoim koszyku</h1>
                </div>

            </div>
        </div>
    </div>
</section>

<div class="d-flex justify-content-center">
    <p style="background-color:#c49b63; width:75%; height:40px; position: absolute; top: 730px;">
    </p>
</div>

<section class="ftco-section ftco-cart">
    <div class="container">
        {% if in_cart %}
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <div class="cart-list">
                    {% if books_for_sell %}
                    <table class="table">
                        <h1 class="mb-4">Księgarnia</h1>
                        <thead class="thead-primary">
                        <tr class="text-center">
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <th>Produkt</th>
                            <th>Cena</th>
                            <th>Ilość</th>
                            <th>Razem</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for book in books_for_sell %}
                        <tr class="text-center">
                            <td class="product-remove"><a
                                    href="{{url_for('delete_from_cart', stock_id=book[0].id)}}"><span
                                    class="icon-close"></span></a></td>

                            <td class="image-prod">
                                <div class="img"
                                     style="background-image:url({{book[0].book_info.image_url}}); height:250px; width:160px"></div>
                            </td>

                            <td class="product-name">
                                <h3>{{book[0].book_info.title}}</h3>
                                <p>{{book[0].book_info.author}}</p>
                            </td>

                            <td class="price">
                                {% if book[0].book_for_sale.new_price > 0 %}
                                <span style="color:red;">{{book[0].book_for_sale.new_price}}zł</span>
                                <span style="text-decoration: line-through; color:grey">{{book[0].book_for_sale.price}}zł</span>
                                {% else %}
                                {{book[0].book_for_sale.price}}zł
                                {% endif %}
                            </td>

                            <td class="quantity">
                                <a href="{{ url_for('decrease_number_in_cart', stock_id=book[0].id) }}" class="btn-link {% if book[1]==1 %} disabled {% endif %}"><i class="fas fa-minus-square fa-2x"></i></a>

                                <h3 style="display: inline;" class="mx-3">{{book[1]}}</h3>
                                <a href="{{ url_for('increase_number_in_cart', stock_id=book[0].id) }}" class="btn-link"><i class="fas fa-plus-square fa-2x"></i></a>
                            </td>
                            {% if book[0].book_for_sale.new_price > 0 %}
                            <td class="total">{{book[0].book_for_sale.new_price * book[1]}}zł</td>
                            {% else %}
                            <td class="total">{{book[0].book_for_sale.price * book[1]}}zł</td>
                            {% endif %}
                        </tr><!-- END TR-->
                        {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                    {% if menu_positions %}
                    <h1 class="mb-4">Kawiarnia</h1>
                    <table class="table">
                        <thead class="thead-primary">
                        <tr class="text-center">
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <th>Produkt</th>
                            <th>Cena</th>
                            <th>Ilość</th>
                            <th>Razem</th>
                        </tr>
                        </thead>
                        {% for position in menu_positions %}
                        <tr class="text-center">
                            <td class="product-remove"><a
                                    href="{{url_for('delete_from_cart', stock_id=position[0].id)}}"><span
                                    class="icon-close"></span></a></td>

                            <td class="image-prod">
                                <div class="img"
                                     style="background-image:url({{position[0].menu_position.image_url}});"></div>
                            </td>

                            <td class="product-name">
                                <h3>{{position[0].menu_position.name}}</h3>
                                <p>{{position[0].menu_position.description}}</p>
                            </td>

                            <td class="price">{{position[0].menu_position.price}}zł</td>

                            <td class="quantity">
                                <a href="{{ url_for('decrease_number_in_cart', stock_id=position[0].id) }}" class="btn-link {% if position[1]==1 %} disabled {% endif %}"><i class="fas fa-minus-square fa-2x"></i></a>

                                <h3 style="display: inline;" class="mx-3">{{position[1]}}</h3>
                                <a href="{{ url_for('increase_number_in_cart', stock_id=position[0].id) }}" class="btn-link"><i class="fas fa-plus-square fa-2x"></i></a>
                            </td>

                            <td class="total">{{position[0].menu_position.price * position[1]}}zł</td>
                        </tr><!-- END TR-->
                        {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}

                </div>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col col-lg-3 col-md-6 mt-5 cart-wrap ftco-animate">
                <div class="cart-total mb-3">
                    <h3>Podsumowanie</h3>
                    <p class="d-flex">
                        <span>Należność</span>
                        <span>{{subtotal}}zł</span>
                    </p>
                    <p class="d-flex">
                        <span>Zniżka</span>
                        <span>{{discount}}zł</span>
                    </p>
                    <hr>
                    <p class="d-flex total-price">
                        <span>Razem</span>
                        <span>{{subtotal-discount}}zł</span>
                    </p>
                </div>
                {% if current_user.is_authenticated and current_user.privileges == "User" %}
                <p class="text-center"><a href="{{url_for('make_order')}}" class="btn btn-primary py-3 px-4">Złóż zamówienie</a>
                </p>
                {% else %}
                <p data-toggle="modal" data-target="#niezalogowano" class="btn btn-primary py-3 px-4">Złóż zamówienie</p>
                {% endif %}
            </div>
        </div>
        {% else %}
        <div class="text-center">
            <h1 class="mb-4">Koszyk jest pusty :(</h1>
        </div>
        {% endif %}
    </div>

</section>

<!-- Modal -->
<div class="modal fade" id="niezalogowano" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLongTitle" style="color:#120f0f">Twoje zamówienie nie będzie śledzone!</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          {% if current_user.is_authenticated %}
          Zamówienia mogą być śledzone jedynie na <b>koncie klienta</b>!
          {% else %}
          Składasz zamówienie bez zalogowania na konto! <br>
          Dzięki korzystaniu z naszego konta, możesz śledzić swoją historię zamówień oraz wiele więcej :)
          {% endif %}
      </div>
      <div class="modal-footer" style="color:white;">
        <a href="{% if current_user.is_authenticated %} {{url_for('logout')}} {% else %} {{ url_for('account') }} {% endif %}" class="btn btn-warning" style="border-radius:25px">Zaloguj się</a>
        <a href="{{url_for('make_order')}}" class="btn btn-success" style="border-radius:25px">Kontyuuj bez logowania</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}