{% extends "base.html" %}
{% block content %}

<section class="ftco-section contact-section">
    <div class="container mt-5">
        <div class="text-center">
            <h1 class="mb-4">Skontakuj się z nami!</h1>
        </div>
        <div class="row block-9">
            <div class="col-md-4 contact-info ftco-animate">
                <div class="row">
                    <div class="col-md-12 mb-4">
                        <h2 class="h4">Informacje kontaktowe</h2>
                    </div>
                    <div class="col-md-12 mb-3">
                        <p><span>Adres:</span> ul. Przykładowa 99 10-100, Przykładowo, Polska</p>
                    </div>
                    <div class="col-md-12 mb-3">
                        <p><span>Telefon:</span> <a href="tel://123456789">(+48) 123 456 789</a></p>
                    </div>
                    <div class="col-md-12 mb-3">
                        <p><span>Email:</span> <a href="mailto:info@yoursite.com">kontakt.quest@gmail.com</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6 ftco-animate">
                <form class="contact-form p-4" method="POST" style="background-color:#120f0f">
                    {{ form.csrf_token }}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form.name.label(class_="control-label") }}
                                {{ form.name(class_ = "form-control", placeholder="Twoje imię")}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form.email.label(class_="control-label") }}
                                {{ form.email(class_ = "form-control", placeholder="Twój email")}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.subject.label(class_="control-label") }}
                        {{ form.subject(class_ = "form-control", placeholder="Temat wiadomości")}}
                    </div>
                    <div class="form-group">
                        {{ form.message.label(class_="control-label") }}
                        {{ form.message(class_ = "form-control", placeholder="Twoja wiadomość", cols="30", rows="7")}}
                    </div>
                    <div class="form-group">
                        {{form.submit_button(class_ = "btn btn-primary py-3 px-5", value="Wyślij wiadomość")}}
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


{% endblock %}