{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block content %}
<section class="ftco-section contact-section">
    <div class="container">
        <div class="row p-5 justify-content-center">
            <div class="col-md-10 ">
                <h3 class="text-center mb-5">Zarejestruj się! Dzięki rejestracji zyskujesz :)</h3>
                <form method="POST" class="contact-form" novalidate>
                    {{ form.csrf_token }}
                    <div class="row">
                        <div class="form-group col-md-6">
                            {{ form.first_name.label(class_="control-label") }}
                            {{form.first_name(class_ = "form-control", placeholder="Twoje imię")}}
                            {% for error in form.first_name.errors: %}
                            <p style="color:red">{{error}}</p>
                            {% endfor %}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form.last_name.label(class_="control-label") }}
                            {{form.last_name(class_ = "form-control", placeholder="Twoje nazwisko")}}
                            {% for error in form.last_name.errors: %}
                            <p style="color:red">{{error}}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            {{form.email.label(class_="control-label") }}
                            {{form.email(class_ = "form-control", placeholder="Twój adres email")}}
                            {% for error in form.email.errors: %}
                            <p style="color:red">{{error}}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            {{ form.password.label(class_="control-label") }}
                            {{form.password(class_ = "form-control", placeholder="Wpisz hasło")}}
                            {% for error in form.password.errors: %}
                            <p style="color:red">{{error}}</p>
                            {% endfor %}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form.confirm_password.label(class_="control-label") }}
                            {{form.confirm_password(class_ = "form-control", placeholder="Powtórz wpisane hasło")}}
                            {% for error in form.confirm_password.errors: %}
                            <p style="color:red">{{error}}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group text-center">
                        {{form.register_button(class_ = "btn btn-primary py-3 px-4", value="Zarejestruj")}}
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}