{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block content %}
<section class="ftco-section">
    <div class="container">
        <div class="row p-5">
            <div class="col-md-6">
                <h3 class="text-center">Masz konto? Zaloguj się!</h3>
                <form method="POST" class="contact-form p-4" novalidate style="background-color:#120f0f; border-radius: 25px;" autocomplete="off">
                    {{ form.csrf_token }}
                    <div class="form-group">
                        {{ form.login.label(class_="control-label") }}
                        {{form.login(class_ = "form-control", placeholder="Twój login")}}
                        {% for error in form.login.errors: %}
                        <p style="color:red">{{error}}</p>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.password.label(class_="control-label") }}
                        {{form.password(class_ = "form-control", placeholder="Twoje hasło")}}
                        {% for error in form.password.errors: %}
                        <p style="color:red">{{error}}</p>
                        {% endfor %}
                    </div>
                    <div class="form-group text-center">
                        {{form.login_button(class_ = "btn btn-primary py-3 px-4", value="Zaloguj")}}
                    </div>
                </form>
            </div>
            <div class="col-md-6 text-center">
                <h3>Nie masz konta?</h3>
                <div class="row mb-5">
                    <div class="col">
                        Zarejestruj się już teraz i korzystaj z wszystkich funkcjonalności naszej strony! :)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="media d-block text-center block-6 services">
                            <div class=" d-flex justify-content-center align-items-center">
                                <i class="fas fa-history fa-5x mb-3"></i>
                            </div>
                            <div class="media-body" style="color: white;">
                                <h3 class="heading" style="color: white;">Historia zakupów</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="media d-block text-center block-6 services">
                            <div class=" d-flex justify-content-center align-items-center">
                                <i class="fas fa-calendar-alt fa-5x mb-3"></i>
                            </div>
                            <div class="media-body" style="color: white;">
                                <h3 class="heading" style="color: white;">Zapis do eventów</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="media d-block text-center block-6 services">
                            <div class=" d-flex justify-content-center align-items-center">
                                <i class="fas fa-book fa-5x mb-3"></i>
                            </div>
                            <div class="media-body" style="color: white;">
                                <h3 class="heading" style="color: white;">Rezerwacja książek</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="{{url_for('registration')}}" class="btn btn-primary py-3 px-4" role="button">Zarejestruj
                    się!</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}